:root
{
    --primary-color:#00283D;
    --secondary-color:#f4f4f4;
    --hover:#1D3B4A;
}

#add-product
{
    margin-bottom: 40px;
}
#add-product form
{
    width:50%;
    margin:30px auto 0 auto;
}

#add-product .form-group-btn
{
    text-align: center;
}

#add-product-form p
{
    margin-bottom:10px;
}

#new-product
{
    height: 84.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-product label
{
    font-weight:bold;
}

.form-group
{
    margin-bottom: 20px;;
}

.form-group label
{
    display: block;
}

.form-group input, .form-group select, .form-group textarea
{
    width:100%;
    padding: 10px;
}

.btn-div
{
    text-align: center;
}

.form-group select
{
    background: #fff;
}

small
{
    color:red;
}

.preco-div
{
    display: flex;
    align-items: center;
    background: var(--primary-color);
}

.preco-div div
{
    padding:10px;
    background: var(--primary-color);
    color: #fff;
}

.pr
{
    padding: 130px;
}
