:root
{
    --primary-color:#00283D;
    --secondary-color:#f4f4f4;
    --hover:#1D3B4A;
}

#mercado
{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-gap:80px;
    width: 95%;
    margin:auto;
    justify-content: center;
    padding: 60px 0;
}

.mercado-card
{
    background:var(--primary-color);
    text-align: center;
    color: #f4f4f4;
    border: 1px solid var(--primary-color);
}

.mercado-card:hover
{
    background: var(--hover);
    cursor: pointer;
}

.mercado-card img
{
    width:100%;
    height: 350px;
}

.mercado-card h2
{
    padding: 10px;
}