:root
{
    --primary-color:#00283D;
    --secondary-color:#f4f4f4;
    --hover:#1D3B4A;
}

#form-novo-mercado
{
    height: 84.5vh;
}
#form-novo-mercado form
{
    width:50%;
    margin:30px auto 0 auto;
}

#form-novo-mercado .form-group-btn
{
    text-align: center;
}

#form-novo-mercado p
{
    margin-bottom:10px;
}

#new-product
{
    height: 84.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.new-product-form
{
    width:40%;
    margin:auto;
}

.form-group
{
    margin-bottom: 20px;;
}

.form-group label
{
    display: block;
}

.form-group input, .form-group select, .form-group textarea
{
    width:100%;
    padding: 10px;
}

.btn-div
{
    text-align: center;
}

.form-group select
{
    background: #fff;
}

